* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #003858,
    #00585e,
    #007449,
    #6c8a28
  );
  display: flex;
  justify-content: left;
  align-items: center;
}

.container {
  margin: 0 0 0 90px;
  padding: 10px;
}

.container .header {
  margin: 0 0 25px 10px;
  color: white;
  font-size: 50px;
}

.container p {
  font-size: 18px;
  color: white;
  margin: 20px 0 0 10px;
}

.container p span {
  color: yellow;
  font-weight: bold;
}

.sub-container {
  padding: 15px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.sub-container #date {
  margin: 5px 0 5px 5px;
  padding: 5px;
  width: 250px;
  font-size: large;
}

.sub-container button {
  margin: 5px 5px 5px 10px;
  padding: 8px;
  width: 130px;
  background-color: rgb(167, 255, 53);
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
